<div id="lightspeed#">
  <%= form_for @pin, html: { multipart: true } do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

        <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group select">
      <%= f.collection_select :adult_id, Adult.all, :id, :name, {prompt: "Adult categories ?"} %> <strong>IMPORTANT - CATEGORY SELECTION REQUIRED ! CHOOSE A CATEGORY..</strong>
    </div>

    <div class="form-group">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, class: "form-control", placeholder: "add a comma ',' and a space between tags example: blonde, brunette, pornstar, stream" %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "required" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control", placeholder: "required" %>
    </div>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: "form-control", placeholder: "required" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>