<div id="lightspeed#">
  <%= form_for @pin, html: { multipart: true } do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

        <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if @pin.category([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]).to_s.present? %>
      <div class="form-group select">
        <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Main categories ?"} %>
      </div>
    <% end %>
    <% if @pin.adult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]).to_s.present? %>
      <div class="form-group select">
        <%= f.collection_select :adult_id, Adult.all, :id, :name, {prompt: "Adult category ?"} %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, class: "form-control", placeholder: "add a comma ',' and a space between tags examlple: spectre, 007, James Bond, download" %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "required" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control", placeholder: "required" %>
    </div>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: "form-control", placeholder: "required" %>
    </div>
    <% if @pin.category([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]).to_s.present? %>
      <div class="form-group">
        <%= f.label :youtube_uid_link %>
        <%= f.text_field :yt_uid, class: "form-control", placeholder: "Copie & Paste Youtube url trailer or full video" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>