<div id="lightspeed#">
  <%= form_for @pin, html: { multipart: true } do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

        <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :name,value: current_user.name %>

    <div class="form-group select">
      <%= f.collection_select :catergory_id, Catergory.all, :id, :name, {prompt: "Select category"} %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :youtube_uid_link %>
      <%= f.text_field :yt_uid, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>