<%= render 'pages/home' unless user_signed_in? %>
<% provide(:title, "all pins") %>

<hr class="featurette-divider">

  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default audioButton">
        <%= link_to image_tag(pin.image.url(:medium)), pin, alt: "www.youmix.me youmix.me youmix you mix free downloads movies video pins streaming" %>
        <div class="panel-body">
          <h5><strong><%= pin.title %></strong></h5>
          <p><span class="fa fa-filter"></span> 
            <%= link_to pin.adult.name, pins_path(adult: pin.adult.name) if pin.adult %>
          </p>
          <p><%= pin.description %></p>
          <p><%= link_to pin.user.name, user_pins_path(pin.user.name) %></p>

          <% if current_user && pin.user == current_user %>
            <div class="actions">
              <%= link_to edit_adult_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


<div class="center">
  <%= will_paginate @pins , renderer: BootstrapPagination::Rails %>
</div>
<hr class="featurette-divider">
<!-- FOOTER -->
