<%= render 'pages/home' unless user_signed_in? %>
<% provide(:title, "all pins") %>

<hr class="featurette-divider">

<div class="center" >
  <% if current_user.try(:admin?) %>
    <% if params[:category] == nil %>
      <strong>Pending count : <%= @pending %> | Published count : <%= @published%></strong>
    <% end %>
  <% end %>
</div>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default audioButton">
      <%= link_to image_tag(pin.image.url(:medium)), pin, alt: "www.youmix.me tutorials" %>
      <div class="panel-body">
        <h5><strong><%= pin.title %></strong></h5>
        <p><span class="fa fa-filter"></span> 
          <%= link_to pin.category.name, pins_path(category: pin.category.name) if pin.category %>
        </p>
        <p><%= truncate(pin.description, length: 73) %></p>
        <p><%= link_to pin.user.name, user_pins_path(pin.user.name) %></p>
        <% if current_user.try(:admin?) %>
          <p><%= pin.status %></p>
        <% end %>  
        <% if current_user && pin.user == current_user or current_user.try(:admin?) %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @pins , renderer: BootstrapPagination::Rails %>
</div>

<hr class="featurette-divider">
<!-- FOOTER -->