<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-heading center">
        <p><strong><%= pin.title %></strong></p>
      </div>

      <%= link_to image_tag(pin.image.url(:medium)), pin %>

      <div class="panel-body show">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-th"></span> <%= pin.catergory.name if pin.catergory %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% Catergory.all.each do |catergory| %>
              <li><%= link_to catergory.name, pins_path(catergory: catergory.name) %></li>
            <% end %>
          </ul>
        </li> 
        <h6><%= pin.user.name if pin.user %></h6>  
        <% if current_user && pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @pins , renderer: BootstrapPagination::Rails %>
</div>

<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>This website is a production of WEBrip Developments Inc. All rights reserved 2015.<a href="https://russellyates.wordpress.com/"> Terms and Conditions</a></p>
</footer>


