<% provide(:title, "new pin") %>

<div class="audioForm">
  <div id="#primary-content">
    <div class="panel form audioButton">
      <div class="panel-heading center">
        <h1 class="grey-shade">New pin</h1>
      </div>

      <div class="panel-body grey-background">
        <% if @failure %>
          <h3><%= @failure %></h3>
        <% end %>
        <%= render 'form' %>
      </div>

      <div class="panel-footer grey-background">
        <%= link_to image_tag("youtube.png", alt: "Youtube Treehouse"), 'https://www.youtube.com/channel/UCqHktcPJV7C7T3e9Cg4T4iw', target: "none" %> |
        <%= link_to image_tag("youtube.png", alt: "Youtube DevTips"), 'https://www.youtube.com/user/DevTipsForDesigners', target: "none" %> |
        <%= link_to image_tag("youtube.png", alt: "Youtube MackenzieChild Ruby on Rails"), 'https://www.youtube.com/user/mackenziechild', target: "none" %> |
        <%= link_to image_tag("youtube.png", alt: "Youtube education"), 'https://www.youtube.com/channel/UC3yA8nDwraeOfnYfBWun83g', target: "none" %>
        <p class="pull-right"><%= link_to 'Show', @pin %> | <%= link_to 'Back', pins_path %></p>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->

