<div class="audioForm">
  <div id="primary-content">
    <div class="panel form">
      <div class="panel-heading center">
        <h1 class="green">New Video</h1>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>

      <div class="panel-footer">
        <%= link_to image_tag("imdb.png", alt: "Imdb video review"), 'http://www.imdb.com/', target: "none" %> |
        <%= link_to image_tag("g2g.png", alt: "G2g.fm videos"), 'http://g2g.fm/', target: "none" %> |
        <%= link_to image_tag("youtube.png", alt: "Youtube movies"), 'https://www.youtube.com/channel/UCAJ2KpG4wVeLbrJk4fAkI1Q', target: "none" %>
        <p class="pull-right"><%= link_to 'back', pins_path %></p>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->

<%= audio_tag "Cassette_Load_01.mp3", autoplay: true, class: "audio-form" %>
<script type="text/javascript">
  $(document).ready( function() {
    $(".audio-form")[0].currentTime = 0;
    return $(".audio-form")[0].play();
  })
</script>