<% provide(:title, "show") %>
<div class="row">
  <div id="zoom-content">

    <div class="panel panel-default show-container audioButton">

      <div class="col-md-6"> 
        <div class="panel-heading center-show">
          <div class="movie-box">
            <p><strong><h6>Provided by <%= @pin.user.name if @pin.user %></h6></strong><%= render_shareable :buttons=> [ 'facebook', 'pinterest'] %></p>
            <div class="show-img">
              <%= image_tag @pin.image.url(:large), alt: "Youmix.me" %>
            </div>
            <div class="star-rating" data-score= <%= @avg_review %> ><strong><i class="padding">Youmix score</i></strong></div>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
          <div class="featurette-image img-thumbnail pull-right">
            <%= link_to (image_tag @random_pin.image.url(:medium)), pin_path(@random_pin) %>
          </div> 
          <h2 class="featurette-heading">click <span class="text-muted">me!</span></h2>
          <p class="lead">You may also be interested in.. We have thousands of the latest videos online and lots added every day. Click my poster image to check me out.</p>
        </div>
        <hr class="featurette-divider">
      </div><!-- col-md-6 -->

      <div class="panel-body">
        <div class="col-md-6">
          <div class="title-link-btn center">
            <h1 class="reviews-title center"><%= @pin.title %></h1>
            <span class:="center"><%= link_to "Visit site", @pin.link, target: "none", class: "btn btn-primary" %> <a class="btn btn-primary" href="#Media-Player" role="button">Media player</a></span>
          </div>
          <hr>
          <div><h4 class="reviews-title"><strong><%= link_to @pin.category.name, pins_path(category: @pin.category.name) if @pin.category %></h4></strong></div>    
          <h2 class="featurette-heading"><span class="text-muted">Description</span></h2>
          <p class="lead"><%= @pin.description %></p>
          <span class="timestamp">
            Pinned <%= time_ago_in_words(@pin.created_at) %> ago.
          </span>
          <!-- Vote buttons and count display below ======== -->
          
          <%= render 'pins/voting' %>
         
          <h4 class="reviews-title"><strong>Latest rates & reviews</strong></h4>
          <% if @reviews.blank? %>
            <h3>No reviews yet, would you like to be the first ?</h3>
          <% else %>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment %></p>
                <span class="timestamp">
                  Comment made <%= time_ago_in_words(review.created_at) %> ago.
                </span>
              </div>
            <% end %>
          <% end %>
          <p class="review-footer"><%= link_to "Rate & Review", new_pin_review_path(@pin), class: "btn btn-default" %> 
          <% if @pin.user == current_user %>
            <%= link_to edit_pin_path(@pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %></p>
          <% end %>
        </div><!-- col-md-6 -->
      </div>
      <div class="panel-body">
        <% if @pin.yt_uid.blank? %>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BaGmXiN1PQ8" allowfullscreen></iframe>
          </div>
        <% else %>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @pin.yt_uid %>" frameborder="0" allowfullscreen></iframe>
          </div>
        <% end %>
      </div>
      <div class="panel-footer player">
        <p class="pull-right"><a href="#"></a></p>
        <p><a> <%= link_to image_tag("youtube-copy.png", :size => "100x70"), 'https://www.youtube.com/channel/UCAJ2KpG4wVeLbrJk4fAkI1Q' %></a>  <i class="fa fa-hand-o-left"> Click Me ! i'm a link to the Youtube movie channel.</i></p>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">

<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
    }
  });
</script>


<!-- FOOTER ===================================== -->


<a name="Media-Player"></a>