<% provide(:title, "show") %>
<div class="row">
  <div id="zoom-content">

    <div class="panel panel-default show-container audioButton">

      <div class="col-md-6"> 
        <div class="panel-heading center-show">
          <div class="movie-box">
            <p><strong><h6>Provided by <%= @pin.user.name if @pin.user %></h6></strong></p>
            <div class="show-img">
              <%= image_tag @pin.image.url(:large), alt: "www.youmix.me youmix.me youmix you mix free downloads movies video pins streaming" %>
            </div>
            <div class="star-rating" data-score= <%= @avg_review %> ><strong><i class="padding"><%= link_to "Rate me !", new_pin_review_path(@pin), class: "btn btn-default btn-xs" %></i></strong></div>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
          <div class="featurette-image img-thumbnail pull-right">
            <%= link_to (image_tag @random_pin.image.url(:medium)), pin_path(@random_pin) %>
          </div> 
          <h2 class="featurette-heading">click <span class="text-muted">me!</span></h2>
          <p class="lead">You may also be interested in.. We have thousands of the latest videos online and lots added every day. Click my poster image to check me out.</p>
        </div>
        <hr class="featurette-divider">
        <div class="share-btns">
          <%= render_shareable :buttons=> [ 'twitter', 'facebook', 'pinterest'] %>
        </div>
      </div><!-- col-md-6 -->

      <div class="panel-body">
        <div class="col-md-6">
          <div class="title-link-btn center">
            <h1 class="reviews-title center"><%= @pin.title %></h1>
            <span class:="center"><%= link_to "Visit site", @pin.link, target: "none", class: "btn btn-primary" %> <a class="btn btn-primary" href="#Media-Player" role="button">Media player</a></span>
          </div>
          <hr>
          <div>
            <h4 class="reviews-title text-muted">Category<strong> 
              <%= link_to @pin.category.name, pins_path(category: @pin.category.name) if @pin.category %>
              <%= link_to @pin.adult.name, pins_path(adult: @pin.adult.name) if @pin.adult %>
            </h4></strong>
          </div>

          <p>
            <span class="text-muted">Tags</span>
            <% @pin.tags.each do | tag | %>
              <%= link_to tag.name, tag_path(tag) if tag.name %>
            <% end %>
          </p>

          <h2 class="featurette-heading"><span class="text-muted">Description</span></h2>
          <p class="lead"><%= @pin.description %></p>
          <span class="timestamp">
            Pinned <%= time_ago_in_words(@pin.created_at) %> ago,
          </span>
          <span class="timestamp">
            viewed <%= pluralize(@pin.view_count, 'time') %>
          </span><br>
          <!-- Vote buttons and count display below ======== -->
          <% if user_signed_in? %>
            <h4><span class="text-muted">Click to vote..</span></h4>
            <%= render 'pins/voting' %>
          <% else %>
            <div class="vote-prompt">
              <h4><span class="text-muted">Sign in to vote..</span></h4>
              <%= render 'pins/voting' %>  
            </div>
          <% end %>
         
          <h4 class="reviews-title"><strong>Latest reviews</strong></h4>
          <% if @reviews.blank? %>
            <h3><%= link_to "No reviews yet, would you like to be the first ?", new_pin_review_path(@pin) %></h3>
          <% else %>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment %></p>
                <span class="timestamp">
                  Comment made <%= time_ago_in_words(review.created_at) %> ago.
                </span>
              </div>
            <% end %>
          <% end %>
          <p class="review-footer"><%= link_to "Review", new_pin_review_path(@pin), class: "btn btn-default" %> 
            <% if @pin.user == current_user %>
              <% if @pin.category([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).to_s.present? %>
                <%= link_to edit_pin_path(@pin) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                <% end %>
              <% end %>
              <% if @pin.adult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]).to_s.present? %>
                <%= link_to edit_adult_pin_path(@pin) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                <% end %>
              <% end %>
              <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            <% end %>
          </p>
        </div><!-- col-md-6 -->
      </div>
      <div class="panel-body">
        <% if @pin.yt_uid.blank? %>
          <h2 class="center"><span class="text-muted">Sorry no video embed available.</span> Please visit the site. Click<span class="text-muted"> ' visit site '</span> above</h2>
        <% else %>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @pin.yt_uid %>" frameborder="0" allowfullscreen></iframe>
          </div>
        <% end %>
      </div>
      <div class="panel-footer player">
        <p></p>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">

<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
    }
  });
</script>


<!-- FOOTER ===================================== -->


<a name="Media-Player"></a>