<% provide(:title, "your pins") %>

<% if @pins.blank? %>
  <div class="jumbotron center panel form green audioButton">
    <h2>Sorry you don't have any pins just yet, would you like to create one ?</h2>
    <p>
      <%= link_to "Create", new_pin_path, class: "btn btn-default" %>
      <button type="button" class="btn btn-default" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <i class="fa fa-cog fa-spin"></i>
      </button>
    </p>
  </div> 

<% else %>
  <div class="status-user-pg">
    <div class="details">
      <%= render 'shared/stats_user' %>
    </div>
    <div class="relationship-btn">
      <%= render 'follow_form' %>
    </div>
  </div>
  
  <hr class="featurette-divider">

  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default audioButton">
        <%= link_to image_tag(pin.image.url(:medium)), pin, alt: "www.youmix.me youmix.me youmix you mix free downloads movies video pins streaming" %>
        <div class="panel-body">
          <h5><strong><%= pin.title %></strong></h5>
          <p><span class="fa fa-filter"></span> 
            <%= link_to pin.category.name, pins_path(category: pin.category.name) if pin.category %>
            <%= link_to pin.adult.name, pins_path(adult: pin.adult.name) if pin.adult %>
          </p>
          <p><%= pin.description %></p>
          <p><strong><%= pin.user.name if pin.user %></strong></p>

          <% if current_user && pin.user == current_user %>
            <div class="actions">
              <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
              <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div> 
<% end %>

<div class="center">
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
<hr class="featurette-divider">
