<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WEBrip Video</title>
	</head>

	<body>
		<div class="jumbotron center">
			<div class="container">

				<h2>The best links to all the best video downloads and streaming available online</h2>
				<p>
					<%= link_to "Log in", new_user_session_path, class: "btn btn-danger btn-small" %>
					<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-small" %>
				</p>
        	</div><!-- container -->
		</div>

		<div class="panel panel-default">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
  				<ol class="carousel-indicators">
    				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  				</ol>

  				<!-- Wrapper for slides -->
  				<div class="carousel-inner" role="listbox">
    				<div class="item active">
      					<p><%= link_to image_tag("robocop.jpg", alt: "Robocop 2014") %></p> 
      					<div class="carousel-caption">
        				<p>Robocop 2014</p>
      					</div>
    				</div>
    				<div class="item">
      					<p><%= link_to image_tag("hercules.jpg", alt: "Hercules 2014") %></p> 
      					<div class="carousel-caption">
        				<p>Hercules 2014</p>
      					</div>
    				</div>
    				<div class="item">
      					<p><%= link_to image_tag("guardians.jpg", alt: "Guardians of the Galaxy 2014") %></p> 
      					<div class="carousel-caption">
        				<p>Guardians of the Galaxy 2014</p>
      					</div>
    				</div>
  				</div>

  				<!-- Controls -->
  				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
  				</a>
  				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
  				</a>
			</div>
		</div>
	</body>
</html>
