<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>WEBrip Video</title>
   </head>

   <body>
      <div class="jumbotron center">
         <div class="container">
            <h1>WEBrip Video</h1>
         
            <h2>Is the best links to all the best video downloads and streaming available online</h2>

            <h3>How to download a video</h3>

            <p>Start downloading all your favorite movies tonight for free ! It's easy, browse through the videos on the all pins page (Home) find somthing you like ? Click the video, press the download link and go make the pop-corn !</p>

            <h3>How to stream a video</h3>

            <p>To stream a video locate the navigation bar (TOP) go to Categories/steaming and browse the videos on our streaming pins page find somthing you like ? Click the video, press the stream link and follow video link provider instruction.</p>

            <h3>How to upload a link</h3>

            <p>Joining is easy to and costs nothing. Setting up an account gives You the ability to upload your video cover-images and provide a link to it, plus give it a description and title. This is super if you run a movie site and will drive traffic a 180 back to yours ! But you don't have to have a website to sign up everybody is welcome. Do it now it's free, confidential, and we never ask for credit card details.</p>


            <P>Thousands of movies are just a click away and new release video links added daily.</p>

            <p>
               <%= link_to "All Video", root_path, class: "btn btn-danger btn-small" %>
            </p>

            <div class="video-container">
               <h2>New Upcoming Movies 2015 - 11 Offical Trailers HD</h2>
               <iframe width="100%" height="480" src="http://www.youtube.com/embed/BaGmXiN1PQ8" frameborder="1"></iframe>
            </div>

               
            <p><i>Links below to some of the best video streaming and download sites on the web. Check them out !</i></p>

            <a> 
               <%= link_to image_tag("youtube.png", alt: "Youtube movies"), 'https://www.youtube.com/channel/UCAJ2KpG4wVeLbrJk4fAkI1Q' %> 
            </a>

            <a>
               <%= link_to image_tag("g2g.png", alt: "G2g.fm videos"), 'http://g2g.fm/' %> 
            </a>

            <a>
               <%= link_to image_tag("graboid1.png", alt: "Graboid video"), 'http://www.graboid.com/' %>  
            </a>

            <a>
               <%= link_to image_tag("netflix.png", alt: "Netflix video"), 'https://www.netflix.com/global' %> 
            </a>

            <a>
               <%= link_to image_tag("lightbox.JPG", alt: "Lightbox video"), 'http://preview.lightbox.co.nz/free-trial-offer/?gclid=CjwKEAiA0O2lBRDOrPX4oJP3t2oSJACjpaHAaMoge0nxdNaV1CWOEPrhYK6RW_y6U2yukRdKVkyDzxoC0A3w_wcB#/' %>  
            </a>

            <a href="http://www.fatso.co.nz/" target="_blank">
               <%= link_to image_tag("fatso.JPG", alt: "fatso video"), 'https://www.netflix.com/global' %>
            </a>

            <a>
               <%= link_to image_tag("imdb.png", alt: "Imdb video review"), 'http://www.imdb.com/' %>
            </a>
         </div><!--container-->
      </div>         
   </body>

   <div class="panel panel-default">
      <div class="panel-footer">
         <%= link_to "All Video", root_path, class: "btn btn-danger btn-small" %>
         <%= link_to "Reload", about_path, class: "btn btn-primary btn-small" %>
         <% if user_signed_in? %>
            <%= link_to "New Video", new_pin_path, class: "btn btn-primary btn-small" %>
            <%= link_to "Account Settings", edit_user_registration_path, class: "btn btn-primary btn-small" %>
         <% else %>
         <%= link_to "Join us now", new_user_registration_path, class: "btn btn-success btn-small" %>
         <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-small" %>
         <% end %>
      </div>
   </div>
</html>
