<% provide(:title, "s M3") %>

<%= render 'shared/form_audio' %>
<div id="primary-content">
  <div class="panel form audioButton">
    <div class="panel-heading center">
      <div class="css-trick">
        <strong><p id="error">Scrape <span>dayt.se</span> URL</p></strong>
        <p id="code">M<span>3</span><span> link</span></p> 
      </div>
    </div>

    <div class="panel-body">
      <br>
  	  <%= form_tag new_pin_path, :method => 'get', class: "scraper" do %>

        <div class="form-group">
          <%= text_field_tag :search_m3, params[:pin_url_1], class: "form-control", placeholder: "ONLY WORKS AT DAYT.SE ! Go to dayt.se ( click L1 below ) Paste URL with a good M3 link of the video you want to add to your collection." %><br>    
        </div>
        
        <div class="form-group">
  	      <%= submit_tag " M3-Scrape", :name => nil, class: "btn btn-info scrape-btn" %>
        </div>
  	  <% end %> 
    </div>

    <div class="panel-footer">
      | <%= link_to image_tag("g2g.png", alt: "videos"), 'http://dayt.se/', target: "none" %> 
      <%= link_to image_tag("youtube-copy.png", :size => '60x60', class: "yt-img-link", alt: "Youtube movies"), 
                            'https://www.youtube.com/channel/UCAJ2KpG4wVeLbrJk4fAkI1Q', target: "none" %> 
      <%= link_to image_tag("imdb.png", alt: "Imdb video review"), 'http://www.imdb.com/', target: "none" %> |                   
      <span class="pull-right"><%= link_to "M4", scrape_m4_path, class: "btn btn-default btn-xs" %><%= link_to "M6", scrape_m6_path, class: "btn btn-default btn-xs" %></span>   
    </div>
  </div>
</div>
<!-- FOOTER -->