<% provide(:title, "scrape") %>

<%= render 'shared/form_audio' %>
<div id="primary-content">
  <div class="panel form audioButton">
    <div class="panel-heading center">
      <h1 class="green">Scrape URL</h1>
    </div>

    <div class="panel-body">
  	  <%= form_tag new_pin_path, :method => 'get', class: "scraper" do %>
        <div class="form-group">
          Url
  	      <%= text_field_tag :search, params[:pin_url], class: "form-control", placeholder: "THIS ONLY WORKS AT DAYT.SE Link to dayt.se using the 'silver button with the film reel' below. Paste URL of the video you want to add here. Click Scrape" %>
        </div>
        <div class="form-group">
  	      <%= submit_tag "Scrape", :name => nil, class: "btn" %>
        </div>
  	  <% end %> 
    </div>

    <div class="panel-footer">
      | <%= link_to image_tag("g2g.png", alt: "videos"), 'http://dayt.se/', target: "none" %> 
      <%= link_to image_tag("youtube.png", alt: "Youtube movies"), 
                            'https://www.youtube.com/channel/UCAJ2KpG4wVeLbrJk4fAkI1Q', target: "none" %> 
      <%= link_to image_tag("imdb.png", alt: "Imdb video review"), 'http://www.imdb.com/', target: "none" %> |                   
      <p class="pull-right"><%= link_to 'back', pins_path %></p>
    </div>
  </div>
</div>
<!-- FOOTER -->