<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>Sign in here</h1>
        <h3>WEBrip Video the best links to all the best video online</h3>
      </div>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email %><i> - Type your email, example: you@gmail.com</i>
          <%= f.email_field :email, class: "form-control", :autofocus => true %>
        </div>

        <div class="form-group">
          <%= f.label :password %><i> - Type your WEBrip Video password here, additional instructions below.</i>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="check-box">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Sign in", class: "btn btn-primary" %><i> - Thank's for signing in to WEBrip Video.</i>
        </div>
      <% end %>
    </div>

    <body>
      <div class="jumbotron center">
        <div class="container">

          <h2>How to sign in</h2>

          <h3>Email field</h3>

          <p>
            Provide your Email address example: you@gmail.com. Be sure to use the email associated with your WEBrip Video account. Type into the <i> email field </i> above.  
          </p>

          <h3>Password field</h3>

          <p>
            Type your WEBrip Video password in the above field Password. If you can't remember your password you can click the link to <i>"forgot your password?</i> " and we will help you get a new password, then redirect you back here so you can sign in to your account.
          </p>

          <h3>We are done ! Go sign-in to WEBrip Video</h3>
          <h2>The best links to all the best video downloads and streaming available online</h2>
        </div>
      </div><!--container-->
    </body>

    <div class="panel-footer">
      <p><i>Not a member </i></p>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-small" %>
    </div>
  </div>
</html>