<% provide(:title, "sign in") %>

<div id="primary-content">
  <div class="panel form audioButton">
    <div class="panel-heading center grey-shade">
      <div class="panel-title">
        <h1>Sign in here</h1>
        <h3>Youmix.me is the best links to all the best video screencasts online</h3>
      </div>
    </div>
    <div class="panel-body grey-background">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: "Type your email, example: you@gmail.com", :autofocus => true %>
        </div>

        <div class="form-group">
          <%= f.label :password %><i> - .</i>
          <%= f.password_field :password, class: "form-control", placeholder: "Type your Youmix.me password here" %>
        </div>

        <div class="form-group">
          <div class="check-box">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Sign in", class: "btn" %><i> - Thank's for signing in to Youmix.me.</i>
        </div>
        
      <% end %>
    </div> 

    <div class="panel-footer grey-background">
      <p><i>Not a member </i></p>
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
</div>