
  <%= form_for([@pin, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div id="star-rating"></div>
    </div>
    <div class="form-group">
      <%= f.label :comment %><br>
      <%= f.text_area :comment, class: "form-control", placeholder: "Hover your mouse over the stars, select how many stars you want to give the pin your reviewing and click to rate, then if you like write a comment here. Youmix.me" %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-info" %>
    </div>
  <% end %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>