<% provide(:title, "review") %>

<div id="primary-content">
	<div class="panel center form audioButton">
		<div class="panel-heading grey-shade">
      <div class="panel-title">
        <h2>New review</h2>
      </div>
    </div>
		<div class="panel-body grey-background">
			<div class="col-md-6">
				<div class="movie-box">
	        <p><strong><h6>Provided by <%= @pin.user.name if @pin.user %></h6></strong></p>
	        <div class="show-img">
	          <%= image_tag @pin.image.url(:large), alt: "www.youmix.me tutorial" %>
	        </div>
	      </div>
    	</div>
      <div class="col-md-6">
      	<h3 class="reviews-title center"><%= @pin.title %></h3>
				<%= render 'form' %>
				<br>
				<h3 class="reviews-title"><strong>Description</strong></h3>
        <p class="lead"><%= truncate(@pin.description, length: 500) %></p>
        <hr class="featurette-divider">
			</div>
		</div>
		<div class="panel-footer grey-background">
			<%= link_to 'Back', pin_path(@pin) %>
		</div>
	</div>
</div>

<hr class="featurette-divider">