<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">WEBrip search <b class="fa fa-caret-right"></b></a>
        <ul class="dropdown-menu position">
          <%= form_tag search_pins_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
            <span class="nav-search">
                <%= text_field_tag :search, params[:search], class: "form-control search-field" %>
                <%= submit_tag "Search all movies", name: nil, class: "btn btn-default search-btn" %>
            </span>
          <% end %> 
        </ul>
      </li>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to about_path do %>
            <span class="fa fa-info"></span> Q & A
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-qrcode"></span> Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% Catergory.all.each do |catergory| %>
              <li><%= link_to catergory.name, pins_path(catergory: catergory.name) %></li>
            <% end %>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-youtube-play"></span> Movies<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to all_movies_path do %>
                  <span class="fa fa-film"></span> All Movies
                <% end %>
              </li>
              <li>
                <%= link_to new_pin_path do %>
                  <span class="fa fa-upload"></span> New Movie
                <% end %>
              </li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user-secret"></span> Users<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to dock_path do %>
                  <span class="fa fa-user"></span> <%= current_user.name %>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <span class="fa fa-users"></span> All Users
                <% end %>
              </li>
              <li>
                <%= link_to following_feed_path do %>
                  <span class="fa fa-sitemap"></span> Following Feed
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <span class="fa fa-cogs"></span> Account Settings
                <% end %>
              </li>  
            </ul>
          </li>
          <li>
            <%= link_to root_path do %>
              <span class="fa fa-home"></span> Home
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="fa fa-sign-out"></span> Sign Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="fa fa-sign-in"></span> Sign In
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="fa fa-user"></span> Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>