      
<nav id="myNavmenu" class="sidebar navmenu navmenu-inverse navmenu-fixed-left offcanvas audioButton" role="navigation">
  <% if user_signed_in? %>
    <div class="sidebar-profile">
      <h4 class= "center">Welcome 
        <%= link_to your_pins_path do %>
          <span class="fa fa-user-secret"></span> <%= current_user.name %>
        <% end %>
      </h4>
      <p class="center">You currently have <%= current_user.pins.count %> pins.</p> 
      <center>
        <div class="sidebar-profile-image">
          <%= image_tag avatar_url(current_user) %>
        </div>
      </center>
      <div class="current_user_stats">
        <%= render 'shared/stats' %>
      </div>
    </div> 
  <% else %>
    <div class="sidebar-profile">
      <h4 class= "center">Welcome 
        <%= link_to new_user_registration_path do %>
          <span class="fa fa-user-secret"></span> Guest User
        <% end %>
      </h4>
      <p class="center">You currently have 0 pins.</p> 
      <center>
        <div class="sidebar-profile-image">
          <%= image_tag("hack.jpg", :size => '80x80', alt: "Youmix.me") %>
        </div>
      </center>
      <div class="current_user_stats">
        following 0 | 0 followers
      </div>
    </div>
    <div class="sidebar-prompt">
      <div class="css-trick-2">
        <strong><p id="error">Sign up to <span> create pins</span>, scrape websites</p></strong>
        <p id="code">and<span> get</span><span> followers</span></p> 
      </div>
    </div>
    <br>
    <span class="fa fa-users fa-2x"></span> Join us !
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  <% end %>
   
  <br>
  <span class="fa fa-thumb-tack fa-2x"></span> Browse pins
  <li>
    <%= link_to "All pins", root_path %>
  </li>
  <br>
  <span class="fa fa-cloud-upload fa-2x"></span> New content
  <li>
    <%= link_to "Create pin", new_pin_path %>
  </li>
  <br>
  <span class="fa fa-html5 fa-2x"></span> Scrape a website
  <li>
    <%= link_to "M3", scrape_m3_path, class: "btn btn-default btn-xs" %>
    <%= link_to "M4", scrape_m4_path, class: "btn btn-default btn-xs" %>
    <%= link_to "M6", scrape_m6_path, class: "btn btn-default btn-xs" %>
  </li>
  <br>
  <span class="fa fa-qrcode fa-2x"></span> Categories
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, pins_path(category: category.name) %></li>
  <% end %>
  <br>
  <span class="fa fa-tags fa-2x"></span> Tags
  <li>
    <%= link_to "All tags", tags_path %>
  </li>
  <br>
  <% if user_signed_in? %>
    <span class="fa fa-users fa-2x"></span> Users
    <li>
      <%= link_to "All users", users_path %>
    </li>
    <li>
      <%= link_to "Pins from people you follow", feed_path %>
    </li>
    <li>
      <%= link_to "Account Settings", edit_user_registration_path %>
    </li>
    <br>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="fa fa-sign-out"></span> Sign Out
      <% end %>
    </li>  
  <% end %>
  <br>
  <li>
      <%= link_to "About us", about_path %>
  </li>
  <li>
    <%= link_to "Contact us", contact_path %>
  </li>  
</nav>

    
    
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar navbar-inverse navbar-fixed-top audioButton">

  <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <i class="fa fa-thumb-tack"></i> Youmix.me movies
  </button>
  
  <ul class="nav navbar-nav navbar-right">
    
    <%= form_tag search_pins_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
      <span class="nav-search">
          <%= text_field_tag :search_pin, params[:search_pin], class: "form-control search-field", placeholder: "pins by title or username" %>
          <button type="submit" class="btn btn-default search-btn">
            <i class="fa fa-search"></i>
          </button>
      </span>
    <% end %>
      <li>
        <%= link_to root_path do %>
          <span class="fa fa-thumb-tack"></span> All pins
        <% end %>
      </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to your_pins_path do %>
          <span class="fa fa-user-secret"></span> <%= current_user.name %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path do %>
          <span class="fa fa-sign-in"></span> Sign In
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <span class="fa fa-user"></span> Sign Up
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
      
