
      
<nav id="myNavmenu" class="sidebar navmenu navmenu-inverse navmenu-fixed-left offcanvas audioButton" role="navigation">
  <% if user_signed_in? %>
    <div class="sidebar-profile">
      <div class="sidebar-profile-image">
        <%= image_tag avatar_url(current_user) %>
      </div>
      Hey, <%= current_user.name %>
      <div class="current_user_stats">
        <%= render 'shared/stats' %>
      </div>
    </div> 
  <% end %>
  <br>
  <span class="fa fa-youtube-play fa-2x"></span> New Content
  <li>
    <%= link_to "Upload pin", new_pin_path %> |
    <%= link_to "Scrape dayt.se?", scrape_path %>
  </li>
  <br>
  <span class="fa fa-qrcode fa-2x"></span> Categories
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, pins_path(category: category.name) %></li>
  <% end %>
  <br>
  <% if user_signed_in? %>
    <span class="fa fa-user-secret fa-2x"></span> Users
    <li>
      <%= link_to "All users", users_path %>
    </li>
    <li>
      <%= link_to "Pins from people you follow", feed_path %>
    </li>
    <li>
      <%= link_to "Account Settings", edit_user_registration_path %>
    </li>
    <br>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="fa fa-sign-out"></span> Sign Out
      <% end %>
    </li>  
  <% end %>
  <br>
  <li>
      <%= link_to "F.Q.A", about_path %>
  </li>  
</nav>

    
    
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar navbar-inverse navbar-fixed-top audioButton">

  <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <i class="fa fa-cog fa-spin"></i>
  </button>
  
  <ul class="nav navbar-nav navbar-right">
    
    <%= form_tag search_pins_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
      <span class="nav-search">
          <%= text_field_tag :search, params[:search], class: "form-control search-field", placeholder: "pins by title or username" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default search-btn" %>
      </span>
    <% end %>
      <li>
        <%= link_to root_path do %>
          <span class="fa fa-home"></span> All pins
        <% end %>
      </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to your_pins_path do %>
          <span class="fa fa-user-secret"></span> Your pins
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path do %>
          <span class="fa fa-sign-in"></span> Sign In
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <span class="fa fa-user"></span> Sign Up
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
      
