<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag("pinYoumixLogo.png") %>	
  	<title><%= full_title(yield(:title)) %></title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<link href='https://fonts.googleapis.com/css?family=Marvel:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  	<%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body>
		<%= render 'layouts/header' unless @disable_nav %>
		<%= audio_tag "button-16.mp3", class: "audio-play" %>
		<script type="text/javascript">
			$(document).on("ready page:change", function() {
			  $(".audioButton").on("click", function() {
				  $(".audio-play")[0].currentTime = 0;
				  return $(".audio-play")[0].play();
				});
			})
		</script>

		<!-- alert fadeOut -->
		<script type="text/javascript">
			$(document).ready(function() {
				setTimeout(function() {
					$('#notice_wrapper').fadeOut("slow", function() {
						$(this).remove();
					})
				}, 4500);
			});
		</script>

		<div class="container">
			<!-- alert -->
			<% if notice %>
				<div id="notice_wrapper">
					<p class="notice"><%= notice %></p>
				</div>
			<% elsif alert %>
				<div id="notice_wrapper">
					<p class="alert"><%= alert %></p>
				</div>
			<% end %>

			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
